/*********** MOBILE SCREENS ***********/

/* WIDTH 1080 */

@media screen and (max-width: 1080px) {
  .container {
    width: calc(100vw - 104px);
    margin-left: 104px;
  }

  .content-container {
    max-width: 612px;
  }

  /* SideBar Start */

  .side-bar {
    width: 104px;
    transition: all 0.5s ease-in-out;
  }

  .open {
    width: 246px;
  }

  .logo {
    margin: 40px 78px 0 41px;
    width: 246px;
    height: 24px;
  }

  .logo__icon {
    width: 24px;
    height: 24px;
  }

  .logo__icon img {
    width: 24px !important;
    height: 24px !important;
  }

  .logo span {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .open .logo span {
    display: grid;
    margin-left: 3px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .btn-container {
    right: -46px;
    display: flex;
  }

  /* Nav List Start*/

  .nav__list {
    margin-top: 45px;
  }

  .nav__item:nth-child(3) {
    margin-top: 0px;
  }

  .link-title {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .open .link-title {
    display: grid;
  }

  /* Nav List End */

  /* Side Bar End */

  /* Header Start */

  .header {
    height: 181px;
  }

  .search-form__title {
    padding-top: 31px;
    text-align: right;
  }

  .search-form__group {
    margin-top: 33px;
    max-width: 612px;
    height: 52px;
  }

  /* Header End */

  /* Main Start */

  .main {
    background: #fafafa;
    min-height: calc(100vh - 181px);
  }

  .card-container {
    padding-top: 27px;
    grid-template-columns: repeat(2, 296px);
  }
  .card {
    width: 296px;
    height: 144px;
  }

  .card__content {
    padding: 15px 18px;
  }

  .card:hover .card__content {
    padding: 14px 17px;
  }

  .card__title {
    font-size: 14px;
  }

  .card__desc {
    margin-top: 6px;
    font-size: 14px;
  }

  .card__num {
    margin-top: 27px;
  }
  /* Main End */
}

@media screen and (max-width: 758px) {
  .card-container {
    grid-template-columns: repeat(1, 296px);
  }
}

/********** WIDTH 468 **********/

@media screen and (max-width: 468px) {
  .container {
    width: calc(100vw - 12px);
    margin-left: 12px;
  }

  .content-container {
    max-width: 308px;
  }

  /* SideBar Start */

  .side-bar {
    width: 12px;
  }

  .open {
    width: 148px;
  }

  .logo {
    margin: 40px 78px 0 20px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1000;
    transition-delay: 0s;
  }

  .open .logo {
    opacity: 1;
    transition-delay: 0.5s;
  }

  .nav {
    display: none;
  }

  .open .nav {
    display: flex;
  }

  .nav .icon {
    display: none;
  }

  .link-title {
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
  }

  /* SideBar End */

  /* Header Start */

  .header {
    height: 169px;
  }

  .search-form__title {
    padding-top: 37px;
    font-size: 24px;
    line-height: 32px;
  }

  .search-form__group {
    margin-top: 21px;
    max-width: 308px;
    height: 52px;
  }

  .search-form__input {
    font-size: 14px;
  }

  .search-form__placeholder {
    font-size: 14px;
  }

  /* Header End */

  /* Main Start */

  .main {
    min-height: calc(100vh - 169px);
  }

  .card-container {
    grid-template-columns: repeat(1, 268px);
  }
  .card {
    width: 268px;
    height: 130px;
  }

  .card__content {
    padding: 15px 18px;
  }

  .card:hover .card__content {
    padding: 14px 17px;
  }

  .card__title {
    font-size: 12px;
  }

  .card__desc {
    margin-top: 6px;
    font-size: 12px;
  }

  .card__num {
    font-size: 28px;
    margin-top: 26px;
  }

  .card__label {
    font-size: 12px;
  }
  /* Main End */
}
